extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

       

   
        h1 !{project.project_name}

     
        p !{project.description}

      .project-tech-links-box.box
        h6 Technologies
        ul

         
          each tech in project.technologies
            li #{tech}
          

      
        a.btn-link(href=`${project.live_link}`, target='__blank') Live Demo
        a.btn-link(href=`${project.github_link}`, target='__blank') GitHub Repo

    .project-img-box.box

     
      img.project-img(src=`../static/${project.image_urls.main}`, alt='Main view of the project')
      img.project-img(src=`../static/${project.image_urls.first}`, alt='Larger view of the project')
      img.project-img(src=`../static/${project.image_urls.gif}`, alt='See the project in action!')

    nav.nav
     a(href='/')
      span &larr;
        |  Back
